body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#btn_menu{
    display: none;
}
header{
    width: 100%;
    background-color: rgb(121, 0, 158);
}
header label{
    height: 32px;
    width: 32px;
    display: none;
    padding: 10px;
}
header label:hover{
    cursor: pointer;
    background-color: rgba(53, 0, 50, 0.3);
}
.menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

img
{
    height: 32px;
    width: 32px;
}

.menu li:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.menu li a{
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    display: block;
}
@media (max-width:768px){
    header label {
        display: block;
    }
    .menu{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.616);
        width: 70%;
        margin-left: -70%;
        transition: all 0.5;
    }
    .menu ul{
        flex-direction: column;
    }
    #btn_menu:checked ~ .menu{
        margin: 0;
    }
}